In [1]:
%matplotlib inline
from __future__ import division
import warnings
warnings.filterwarnings('ignore')

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [3]:
bank_data = pd.read_csv('../../data/bank-full.csv', sep=';')
bank_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [4]:
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [5]:
bank_data[bank_data.y.isna()]

Empty DataFrame
Columns: [age, job, marital, education, default, balance, housing, loan, contact, day, month, duration, campaign, pdays, previous, poutcome, y]
Index: []

In [6]:
np.unique(bank_data.y)

array(['no', 'yes'], dtype=object)

In [12]:
balanced_yes = bank_data[bank_data.y == 'yes']
balanced_no = bank_data[bank_data.y == 'no'].sample(n=len(balanced_yes), replace=False)
balanced_all = pd.concat([balanced_yes, balanced_no])
balanced_train, balanced_test = train_test_split(balanced_all, test_size=0.33)
(balanced_train.shape,
 balanced_test.shape,
 balanced_train[balanced_train.y == 'yes'].shape,
 balanced_train[balanced_train.y == 'no'].shape,
 balanced_test[balanced_test.y == 'yes'].shape,
 balanced_test[balanced_test.y == 'no'].shape)

((7087, 17), (3491, 17), (3549, 17), (3538, 17), (1740, 17), (1751, 17))

In [13]:
unbalanced_train = bank_data.sample(n=5000, replace=False)
unbalanced_train.shape

(5000, 17)

In [60]:
test = bank_data[~bank_data.index.isin(unbalanced_train.index.append(balanced_train.index))].sample(1000, replace=False)
test.shape

(1000, 17)

In [61]:
balanced_train.to_csv('../../data/bank-balanced-train.csv')
unbalanced_train.to_csv('../../data/bank-unbalanced-train.csv')
test.to_csv('../../data/bank-test.csv')